:focus {
  outline: #462c6c solid 1px;
  outline-offset: 0; }

html {
  font-size: 62.5%;
  font-family: 'Work Sans', sans-serif; }

body {
  font-size: 1.6em;
  overflow-x: hidden; }
  body * {
    font-family: 'Work Sans', sans-serif;
    font-size: 1.4rem;
    box-sizing: border-box; }

a {
  color: inherit; }

img {
  max-width: 100%; }

h1 {
  font-size: 4rem;
  margin-bottom: 1em;
  margin-top: 0; }
  @media (min-width: 768px) {
    h1 {
      font-size: 5rem; } }
  @media (min-width: 1700px) {
    h1 {
      font-size: 6rem; } }

h2 {
  font-size: 3.5rem;
  margin-bottom: 1em;
  margin-top: 0; }
  @media (min-width: 768px) {
    h2 {
      font-size: 4rem; } }
  @media (min-width: 1700px) {
    h2 {
      font-size: 5rem; } }

p {
  margin-top: 0;
  max-width: 70rem;
  font-size: 2.4rem;
  font-weight: 100;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin: 0 auto 2rem; }

::-webkit-input-placeholder {
  color: #d8d8d8; }

::-ms-input-placeholder {
  color: #d8d8d8; }

::placeholder {
  color: #d8d8d8; }

.button_root__2VR3J {
  position: relative;
  vertical-align: baseline;
  color: #fff;
  background: #462c6c;
  cursor: pointer;
  border: 0.1rem solid #462c6c;
  line-height: 1;
  box-shadow: inset 0 -0.4rem #2f1d48;
  display: block;
  padding: 0.7em 1.4rem;
  transition: all .2s ease-in-out;
  letter-spacing: 0.04em;
  overflow: hidden; }
  .button_root__2VR3J:hover {
    background: #3d265e;
    color: #fafafa; }
  .button_root__2VR3J[disabled] {
    cursor: not-allowed;
    color: #754ab4 !important; }
  .button_root__2VR3J > svg {
    margin-right: 0.5em;
    float: left; }

.button_inline__TFjPw {
  display: inline-block; }

.button_iconOnly__2i6OD svg {
  margin: 0; }

.button_loadingOverlay__3UBB1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(70, 44, 108, 0.85);
  text-align: center;
  pointer-events: none;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
          align-items: center;
  -webkit-justify-content: center;
          justify-content: center; }
  .button_loadingOverlay__3UBB1:after {
    content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="xMidYMid" class="lds-rolling" style="background: none;" stroke="currentColor"><circle cx="50" cy="50" fill="none" stroke="white" stroke-width="10" r="35" stroke-dasharray="164.93361431346415 56.97787143782138" transform="rotate(203.819 50 50)"><animateTransform attributeName="transform" type="rotate" calcMode="linear" values="0 50 50;360 50 50" keyTimes="0;1" dur="1s" begin="0s" repeatCount="indefinite"></animateTransform></circle></svg>');
    width: 2em;
    height: 2em;
    display: inline-block;
    opacity: 0.5; }

.button_small__1ufnn {
  font-size: 1rem; }
  .button_small__1ufnn * {
    font-size: 1rem; }

.button_large__3GNWb {
  font-size: 2rem; }
  .button_large__3GNWb * {
    font-size: 2rem; }

.button_xlarge__2k_QD {
  font-size: 3rem; }
  .button_xlarge__2k_QD * {
    font-size: 3rem; }

.button_outline__2BrpU {
  background: transparent;
  color: #462c6c;
  box-shadow: inset 0 -0.4rem #462c6c; }
  .button_outline__2BrpU:hover {
    background: rgba(70, 44, 108, 0.05);
    color: #000; }

.input_rootInput__3IrpJ, .input_root__1AwyH input, .input_tabBefore__1IxUc, .input_tabAfter__31HA2 {
  padding: 0 0.75em;
  line-height: 2;
  border: 0.1rem solid #d8d8d8;
  transition: all 0.2s ease-in-out; }

.input_root__1AwyH {
  position: relative;
  display: -webkit-inline-flex;
  display: inline-flex; }
  .input_root__1AwyH .input_loadingIcon__16Y_T {
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" stroke="currentColor" viewBox="0 0 100 100" preserveAspectRatio="xMidYMid" class="lds-ripple" style="background: none;"><circle cx="50" cy="50" r="23.3941" fill="none" stroke-width="3"><animate attributeName="r" calcMode="spline" values="0;30" keyTimes="0;1" dur="1.6" keySplines="0 0.2 0.8 1" begin="-0.8s" repeatCount="indefinite"></animate><animate attributeName="opacity" calcMode="spline" values="1;0" keyTimes="0;1" dur="1.6" keySplines="0.2 0 0.8 1" begin="-0.8s" repeatCount="indefinite"></animate></circle><circle cx="50" cy="50" r="7.96641" fill="none" stroke-width="3"><animate attributeName="r" calcMode="spline" values="0;30" keyTimes="0;1" dur="1.6" keySplines="0 0.2 0.8 1" begin="0s" repeatCount="indefinite"></animate><animate attributeName="opacity" calcMode="spline" values="1;0" keyTimes="0;1" dur="1.6" keySplines="0.2 0 0.8 1" begin="0s" repeatCount="indefinite"></animate></circle></svg>');
    background-size: cover;
    display: inline-block;
    position: absolute;
    height: 2em;
    width: 2em;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto 0; }
  .input_root__1AwyH input {
    -webkit-flex-grow: 1;
            flex-grow: 1;
    background: #fff;
    padding-right: 0; }
    .input_root__1AwyH input:focus {
      border-color: #462c6c; }
    .input_root__1AwyH input:hover {
      border: 0.1rem solid #676767; }
    .input_root__1AwyH input[disabled] {
      cursor: not-allowed;
      background: #ededed;
      color: #d8d8d8; }
      .input_root__1AwyH input[disabled]::-webkit-input-placeholder {
        color: #d8d8d8; }
      .input_root__1AwyH input[disabled]::-ms-input-placeholder {
        color: #d8d8d8; }
      .input_root__1AwyH input[disabled]::placeholder {
        color: #d8d8d8; }
  .input_root__1AwyH.input_loading__167uR input {
    padding-right: 2em; }

.input_inline__1BGiz {
  display: inline-block; }
  .input_inline__1BGiz input {
    display: inline-block; }

.input_inputWithIcon__31a2Z > input {
  padding-left: 2.5em; }

.input_inputWithIcon__31a2Z > svg {
  color: #d8d8d8;
  position: absolute;
  height: 1em;
  top: 0;
  bottom: 0;
  left: .75em;
  margin: auto 0;
  display: inline-block;
  -webkit-transform: translateY(-0.05em);
          transform: translateY(-0.05em); }

.input_tabBefore__1IxUc {
  display: inline-block;
  background: #fafafa;
  border-right: 0; }
  .input_tabBefore__1IxUc ~ input {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0; }

.input_tabAfter__31HA2 {
  display: inline-block;
  background: #fafafa;
  border-left: 0; }
  .input_tabAfter__31HA2 ~ input {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0; }

.input_loadingIcon__16Y_T circle {
  stroke: #676767; }

.checkbox_root__Sfl_b {
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  display: block; }
  .checkbox_root__Sfl_b:before, .checkbox_root__Sfl_b:after {
    cursor: pointer; }
  .checkbox_root__Sfl_b:before {
    content: '';
    display: inline-block;
    height: 1em;
    width: 1em;
    border: 0.1rem solid #676767;
    border-radius: 0.3rem;
    transition: background .15s ease-in-out;
    background: transparent; }
  .checkbox_root__Sfl_b:after {
    content: '';
    display: block;
    position: absolute;
    background-size: cover;
    -webkit-transform: scale(0);
            transform: scale(0);
    -webkit-transform-origin: center center;
            transform-origin: center center;
    transition: -webkit-transform .15s ease-in-out;
    transition: transform .15s ease-in-out;
    transition: transform .15s ease-in-out, -webkit-transform .15s ease-in-out;
    height: 0.8em;
    width: 0.8em;
    top: 0.2rem;
    left: 0.2rem; }
  .checkbox_root__Sfl_b > input {
    display: none; }

.checkbox_partial__uEPMD:before {
  -webkit-animation: checkbox_checkboxCheck__3OxeJ .2s ease-in-out;
          animation: checkbox_checkboxCheck__3OxeJ .2s ease-in-out;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-play-state: running;
          animation-play-state: running;
  background: #462c6c; }

.checkbox_partial__uEPMD:after {
  -webkit-transform: scale(0.85);
          transform: scale(0.85);
  color: #fff;
  background-image: url('data:image/svg+xml;utf8,<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 10 10" style="enable-background:new 0 0 10 10;" xml:space="preserve"><rect width="9.5" height="2.5" x="0.5" y="3.5" rx="1" ry="1" fill="white" /></svg>'); }

.checkbox_checked__1gLD6:before {
  -webkit-animation: checkbox_checkboxCheck__3OxeJ .2s ease-in-out;
          animation: checkbox_checkboxCheck__3OxeJ .2s ease-in-out;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-play-state: running;
          animation-play-state: running;
  background: #462c6c; }

.checkbox_checked__1gLD6:after {
  -webkit-transform: scale(1);
          transform: scale(1);
  background-image: url('data:image/svg+xml;utf8,<svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 26 26" xmlns:xlink="http://www.w3.org/1999/xlink" enable-background="new 0 0 26 26"><path fill="white" d="m.3,14c-0.2-0.2-0.3-0.5-0.3-0.7s0.1-0.5 0.3-0.7l1.4-1.4c0.4-0.4 1-0.4 1.4,0l.1,.1 5.5,5.9c0.2,0.2 0.5,0.2 0.7,0l13.4-13.9h0.1v-8.88178e-16c0.4-0.4 1-0.4 1.4,0l1.4,1.4c0.4,0.4 0.4,1 0,1.4l0,0-16,16.6c-0.2,0.2-0.4,0.3-0.7,0.3-0.3,0-0.5-0.1-0.7-0.3l-7.8-8.4-.2-.3z"/></svg>'); }

.checkbox_label__2FJXg {
  display: inline-block;
  margin-left: .5rem;
  vertical-align: top;
  line-height: 1.3;
  display: inline-block; }

.checkbox_disabled__24eTc {
  cursor: not-allowed;
  color: #d8d8d8; }
  .checkbox_disabled__24eTc:before {
    background: #d8d8d8; }
  .checkbox_disabled__24eTc input {
    cursor: not-allowed; }

@-webkit-keyframes checkbox_checkboxCheck__3OxeJ {
  from {
    box-shadow: 0 0 0 0.05rem rgba(70, 44, 108, 0.5); }
  to {
    box-shadow: 0 0 0 0.5rem rgba(70, 44, 108, 0); } }

@keyframes checkbox_checkboxCheck__3OxeJ {
  from {
    box-shadow: 0 0 0 0.05rem rgba(70, 44, 108, 0.5); }
  to {
    box-shadow: 0 0 0 0.5rem rgba(70, 44, 108, 0); } }

.select_root__60P5t {
  position: relative;
  display: inline-block; }

.select_base__boLOR {
  display: inline-block;
  position: relative;
  padding: 0 0.75em;
  padding-right: 2.5rem;
  line-height: 2;
  border: 0.1rem solid #676767;
  min-height: 2em;
  width: 20rem;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer; }

.select_singleBase__12qmd:after, .select_loading__1y0Wq:after,
.select_noItems__gcFQq:after {
  content: '';
  right: 0.75rem;
  top: 0;
  bottom: 0;
  margin: auto 0;
  position: absolute;
  display: block;
  width: 1rem;
  height: 1rem;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  transition: -webkit-transform .3s ease-in-out;
  transition: transform .3s ease-in-out;
  transition: transform .3s ease-in-out, -webkit-transform .3s ease-in-out;
  background-image: url('data:image/svg+xml;utf8,<svg stroke="currentColor" version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 129 129" xmlns:xlink="http://www.w3.org/1999/xlink" enable-background="new 0 0 129 129"><path d="m121.3,34.6c-1.6-1.6-4.2-1.6-5.8,0l-51,51.1-51.1-51.1c-1.6-1.6-4.2-1.6-5.8,0-1.6,1.6-1.6,4.2 0,5.8l53.9,53.9c0.8,0.8 1.8,1.2 2.9,1.2 1,0 2.1-0.4 2.9-1.2l53.9-53.9c1.7-1.6 1.7-4.2 0.1-5.8z"/></svg>'); }

.select_search__2O9lq {
  outline: 0;
  box-shadow: none;
  border: 0;
  display: inline-block; }

.select_noItems__gcFQq .select_search__2O9lq:empty:before {
  content: attr(placeholder); }

.select_picker__3OW-2 {
  overflow: hidden;
  min-width: 100%;
  position: absolute;
  display: inline-block;
  top: calc(100% + .5rem);
  left: 0;
  max-height: 14em;
  overflow-y: auto;
  border-radius: 0.5rem;
  background: #fff;
  box-shadow: 0 0.1rem 1rem 0.05rem rgba(0, 0, 0, 0.15);
  -webkit-transform-origin: top;
          transform-origin: top;
  -webkit-animation: select_selectReveal___X8Fc .2s ease-in-out;
          animation: select_selectReveal___X8Fc .2s ease-in-out;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-play-state: running;
          animation-play-state: running;
  z-index: 50; }
  .select_picker__3OW-2:empty:before {
    content: 'No results';
    display: block;
    padding: 0.75em 1em;
    font-style: italic;
    color: #d8d8d8; }
  .select_picker__3OW-2 > div {
    cursor: pointer;
    padding: 0.75rem 1rem;
    padding-right: 3rem;
    position: relative; }
    .select_picker__3OW-2 > div:hover {
      background: #fafafa; }

.select_selected__HDn8y:after {
  content: url('data:image/svg+xml;utf8,<svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 26 26" xmlns:xlink="http://www.w3.org/1999/xlink" enable-background="new 0 0 26 26"><path fill="green" d="m.3,14c-0.2-0.2-0.3-0.5-0.3-0.7s0.1-0.5 0.3-0.7l1.4-1.4c0.4-0.4 1-0.4 1.4,0l.1,.1 5.5,5.9c0.2,0.2 0.5,0.2 0.7,0l13.4-13.9h0.1v-8.88178e-16c0.4-0.4 1-0.4 1.4,0l1.4,1.4c0.4,0.4 0.4,1 0,1.4l0,0-16,16.6c-0.2,0.2-0.4,0.3-0.7,0.3-0.3,0-0.5-0.1-0.7-0.3l-7.8-8.4-.2-.3z"/></svg>');
  display: inline-block;
  width: 1rem;
  height: 1rem;
  position: absolute;
  right: 1rem; }

.select_highlighted__1m_wh {
  background: #d8d8d8 !important; }

.select_open__2IMrl .select_base__boLOR {
  outline: 0;
  border-color: #462c6c;
  box-shadow: 0 0 0.2rem #462c6c; }
  .select_open__2IMrl .select_base__boLOR:after {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg); }

.select_label__jMvsZ {
  display: inline-block;
  border-radius: 0.3rem;
  line-height: 1;
  padding: 0.2rem;
  margin-right: 0.5em;
  border: 0.1rem solid #d8d8d8;
  background: #fafafa;
  font-size: 0.9em;
  transition: background .2s; }
  .select_label__jMvsZ:hover {
    background: #ededed; }

.select_loading__1y0Wq:after {
  width: 2em;
  height: 2em;
  right: 0.25rem;
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" stroke="currentColor" viewBox="0 0 100 100" preserveAspectRatio="xMidYMid" class="lds-ripple" style="background: none;"><circle cx="50" cy="50" r="23.3941" fill="none" stroke-width="3"><animate attributeName="r" calcMode="spline" values="0;30" keyTimes="0;1" dur="1.6" keySplines="0 0.2 0.8 1" begin="-0.8s" repeatCount="indefinite"></animate><animate attributeName="opacity" calcMode="spline" values="1;0" keyTimes="0;1" dur="1.6" keySplines="0.2 0 0.8 1" begin="-0.8s" repeatCount="indefinite"></animate></circle><circle cx="50" cy="50" r="7.96641" fill="none" stroke-width="3"><animate attributeName="r" calcMode="spline" values="0;30" keyTimes="0;1" dur="1.6" keySplines="0 0.2 0.8 1" begin="0s" repeatCount="indefinite"></animate><animate attributeName="opacity" calcMode="spline" values="1;0" keyTimes="0;1" dur="1.6" keySplines="0.2 0 0.8 1" begin="0s" repeatCount="indefinite"></animate></circle></svg>'); }

.select_disabled__2xIst {
  background: #fafafa;
  color: #d8d8d8;
  cursor: not-allowed; }

@-webkit-keyframes select_selectReveal___X8Fc {
  from {
    -webkit-transform: scaleY(0);
            transform: scaleY(0); }
  to {
    -webkit-transform: scaleY(1);
            transform: scaleY(1); } }

@keyframes select_selectReveal___X8Fc {
  from {
    -webkit-transform: scaleY(0);
            transform: scaleY(0); }
  to {
    -webkit-transform: scaleY(1);
            transform: scaleY(1); } }

.radio_radioStyle__2yZ7m {
  display: inline-block; }
  .radio_radioStyle__2yZ7m > label {
    display: block;
    line-height: 1;
    cursor: pointer;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    margin-bottom: 0.75em; }
    .radio_radioStyle__2yZ7m > label:before {
      content: '';
      border-radius: 50%;
      border: 0.1rem solid #676767;
      display: inline-block;
      width: 0.9em;
      height: 0.9em;
      margin-right: 0.4em;
      -webkit-transform: translateY(0.2em);
              transform: translateY(0.2em);
      background: #fafafa; }
    .radio_radioStyle__2yZ7m > label:hover:before {
      background: whitesmoke; }
    .radio_radioStyle__2yZ7m > label.radio_selected__2horN:before {
      background: #462c6c;
      -webkit-animation: radio_radioCheck__3x-e8 .2s ease-in-out;
              animation: radio_radioCheck__3x-e8 .2s ease-in-out;
      -webkit-animation-fill-mode: both;
              animation-fill-mode: both;
      -webkit-animation-play-state: running;
              animation-play-state: running; }

.radio_buttonStyle__nGruK {
  background: #fafafa;
  display: inline-block;
  border-radius: 0.4rem;
  border: 0.1rem solid #d8d8d8;
  overflow: hidden;
  line-height: 0; }
  .radio_buttonStyle__nGruK > label {
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    display: inline-block;
    padding: 0 1rem;
    border-right: 0.1rem solid #d8d8d8;
    line-height: 2;
    height: 2em;
    cursor: pointer; }
    .radio_buttonStyle__nGruK > label:last-child {
      border: 0; }
    .radio_buttonStyle__nGruK > label.radio_selected__2horN {
      background: #462c6c;
      color: #fff; }

.radio_disabled__1Iazc > label {
  cursor: not-allowed;
  color: #d8d8d8; }

.radio_disabled__1Iazc.radio_buttonStyle__nGruK > label.radio_selected__2horN,
.radio_disabled__1Iazc.radio_radioStyle__2yZ7m > label:before {
  opacity: .5; }

@-webkit-keyframes radio_radioCheck__3x-e8 {
  from {
    box-shadow: inset 0 0 0 0.1em white, 0 0 0 0.05rem rgba(70, 44, 108, 0.5); }
  to {
    box-shadow: inset 0 0 0 0.1em white, 0 0 0 0.4em rgba(70, 44, 108, 0); } }

@keyframes radio_radioCheck__3x-e8 {
  from {
    box-shadow: inset 0 0 0 0.1em white, 0 0 0 0.05rem rgba(70, 44, 108, 0.5); }
  to {
    box-shadow: inset 0 0 0 0.1em white, 0 0 0 0.4em rgba(70, 44, 108, 0); } }

.form_field__2pbCK {
  margin-bottom: 1.5rem;
  padding-bottom: 0.5rem; }

.form_warning__DbdVV {
  color: #c21515;
  font-weight: bold;
  line-height: 1;
  padding: 0.5rem 0;
  margin-bottom: 0.2rem; }

.form_invalid__9aioI {
  border-left: 0.3rem solid #c21515;
  padding-left: 1rem; }

.form_invalidInput__SOuPV {
  border-color: #c21515 !important;
  box-shadow: inset 0 0 0 0.1rem #c21515 !important;
  color: #c21515; }

.label_root__eFL4b {
  display: block;
  margin-bottom: 0.5rem;
  color: #676767; }

.table_root__2CCd- {
  overflow-x: auto;
  width: 100%;
  border-collapse: collapse; }

.table_headerRow__tFM1R {
  border-bottom: 0.1rem solid rgba(216, 216, 216, 0.5); }

.table_headerCell__1FujV {
  color: #d8d8d8;
  font-weight: bold;
  font-size: 1.2rem;
  text-align: left;
  padding: 1.75rem 1.5rem;
  padding-top: 1rem;
  padding-bottom: 1rem; }

.table_sortable__14ATL {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
  position: relative;
  padding-right: 1em; }
  .table_sortable__14ATL > svg {
    width: 0.8em;
    height: 0.8em;
    position: absolute;
    right: 0;
    top: 0.2em; }

.table_sorted__1VzRJ {
  color: #676767; }

.table_row__3rvbO {
  transition: all .2s ease-in-out;
  background: transparent;
  background: #fff;
  border: 0.1rem solid rgba(216, 216, 216, 0.5);
  border-top: 0; }
  .table_row__3rvbO:hover {
    background: rgba(255, 255, 255, 0.85); }

.table_cell__G2AOn {
  padding: 1.75rem 1.5rem; }

.table_loadingBlock__1tqbc {
  display: block;
  background: #d8d8d8;
  height: 1em;
  width: 90%;
  position: relative;
  overflow: hidden;
  opacity: 0.5; }
  .table_loadingBlock__1tqbc:after {
    content: '';
    position: absolute;
    width: 6em;
    height: 100%;
    top: 0;
    left: -1em;
    background: rgba(255, 255, 255, 0.2);
    -webkit-transform: skewX(-20deg);
            transform: skewX(-20deg);
    box-shadow: 0 0 5em 2em rgba(255, 255, 255, 0.2);
    -webkit-animation: table_loadingRipple__3LkLU .8s linear;
            animation: table_loadingRipple__3LkLU .8s linear;
    -webkit-animation-fill-mode: both;
            animation-fill-mode: both;
    -webkit-animation-play-state: running;
            animation-play-state: running;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite; }

@-webkit-keyframes table_loadingRipple__3LkLU {
  from {
    left: -1em; }
  to {
    left: 100%; } }

@keyframes table_loadingRipple__3LkLU {
  from {
    left: -1em; }
  to {
    left: 100%; } }

.pagination_root__zEr4u {
  text-align: right;
  margin: 2rem 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none; }

.pagination_button__f195P {
  display: inline-block;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.1);
  background: #fff;
  padding: 0 0.5rem;
  height: 3rem;
  min-width: 3rem;
  cursor: pointer;
  text-align: center;
  line-height: 3rem;
  border-radius: 0.2rem;
  color: #676767;
  transition: all .3s ease-in-out; }
  .pagination_button__f195P:first-child {
    margin-right: 0.5rem; }
  .pagination_button__f195P:last-child {
    margin-left: 0.5rem; }
  .pagination_button__f195P:hover {
    background: #fafafa;
    box-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.1); }
  .pagination_button__f195P > svg {
    -webkit-transform: translateY(15%);
            transform: translateY(15%); }

.pagination_current__3-3HH {
  display: inline-block;
  font-weight: bold;
  line-height: 3rem;
  padding: 0.2rem 1.25rem; }

.pagination_active__269OT,
.pagination_disabled__hiPzQ {
  pointer-events: none;
  background: #d8d8d8;
  opacity: 0.6; }


/*# sourceMappingURL=main.css.map*/