$primaryColor: #2e104b;
$darkGrey: #676767;
$grey: #d8d8d8;
$lightGrey: #fafafa;
$errorRed: #DA3C11;
$cautionYellow: #d8b012;
$warningOrange: #F1960C;
$successGreen: #0CA915;

$zIndexBump: 10;
$zIndexHigh: 20;
$zIndexSuper: 30;
