@import './variables';

.root {
  position: relative;
  vertical-align: baseline;
  color: #fff;
  background: $primaryColor;
  cursor: pointer;
  border: 0.1rem solid $primaryColor;
  border-radius: 0.3rem;
  line-height: 1;
  display: inline-block;
  padding: 0.5em 1rem;
  transition: all .2s ease-in-out;
  letter-spacing: 0.02em;
  overflow: hidden;

  &:hover {
    background: darken($primaryColor, 4%);
    color: $lightGrey;
  }

  &[disabled] {
    cursor: not-allowed;
    color: lighten($primaryColor, 20%) !important;
  }

  & > svg {
    margin-right: 0.5em;
    float: left;
  }
}

.iconOnly {
  svg {
    margin: 0;
  }
}

.loadingOverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba($primaryColor,0.75);
  text-align: center;
  pointer-events: none;
  &:after {
    content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" stroke="currentColor" viewBox="0 0 100 100" preserveAspectRatio="xMidYMid" class="lds-ripple" style="background: none;"><circle cx="50" cy="50" r="23.3941" fill="none" stroke-width="3"><animate attributeName="r" calcMode="spline" values="0;30" keyTimes="0;1" dur="1.6" keySplines="0 0.2 0.8 1" begin="-0.8s" repeatCount="indefinite"></animate><animate attributeName="opacity" calcMode="spline" values="1;0" keyTimes="0;1" dur="1.6" keySplines="0.2 0 0.8 1" begin="-0.8s" repeatCount="indefinite"></animate></circle><circle cx="50" cy="50" r="7.96641" fill="none" stroke-width="3"><animate attributeName="r" calcMode="spline" values="0;30" keyTimes="0;1" dur="1.6" keySplines="0 0.2 0.8 1" begin="0s" repeatCount="indefinite"></animate><animate attributeName="opacity" calcMode="spline" values="1;0" keyTimes="0;1" dur="1.6" keySplines="0.2 0 0.8 1" begin="0s" repeatCount="indefinite"></animate></circle></svg>');
    width: 2em;
    height: 2em;
    display: inline-block;
  }
}

.small {
  font-size: 1rem;
  * {
    font-size: 1rem;
  }
}

.large {
  font-size: 2rem;
  * {
    font-size: 2rem;
  }
}

.xlarge {
  font-size: 3rem;
  * {
    font-size: 3rem;
  }
}



.outline {
  background: transparent;
  color: $primaryColor;

  &:hover {
    background: rgba($primaryColor, 0.05);
    color: #000;
  }
}
