@import './variables';

.root {
  position: relative;
  cursor: pointer;
  user-select: none;
  display: block;

  > input {
    height: 0;
    width: 0;
    vertical-align: top;
    position: relative;
    &:before,
    &:after {
      display: block;
      cursor: pointer;
    }
    &:before {
      content: '';
      height: 1em;
      width: 1em;
      border: 0.1rem solid $darkGrey;
      border-radius: 0.3rem;
      transition: background .15s ease-in-out;
      background: transparent;
    }
    &:after {
      content: '';
      position: absolute;
      background-image: url('data:image/svg+xml;utf8,<svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 26 26" xmlns:xlink="http://www.w3.org/1999/xlink" enable-background="new 0 0 26 26"><path fill="white" d="m.3,14c-0.2-0.2-0.3-0.5-0.3-0.7s0.1-0.5 0.3-0.7l1.4-1.4c0.4-0.4 1-0.4 1.4,0l.1,.1 5.5,5.9c0.2,0.2 0.5,0.2 0.7,0l13.4-13.9h0.1v-8.88178e-16c0.4-0.4 1-0.4 1.4,0l1.4,1.4c0.4,0.4 0.4,1 0,1.4l0,0-16,16.6c-0.2,0.2-0.4,0.3-0.7,0.3-0.3,0-0.5-0.1-0.7-0.3l-7.8-8.4-.2-.3z"/></svg>');
      background-size: cover;
      transform: scale(0);
      transform-origin: center center;
      transition: transform .15s ease-in-out;
      height: 0.8em;
      width: 0.8em;
      top: 0.2rem;
      left: 0.2rem;
    }
  }
}

.checked > input{
  &:before {
    animation: checkboxCheck .2s ease-in-out;
    animation-fill-mode: both;
    animation-play-state: running;
    background: $primaryColor;
  }
  &:after {
    transform: scale(1);
  }
}

.label {
  display: inline-block;
  margin-left: 2.5rem;
  vertical-align: top;
  line-height: 1.3;
  display: inline-block;
}

.disabled {
  cursor: not-allowed;
  color: $grey;
  &:before {
    background: $grey;
  }
  input {
    cursor: not-allowed;
  }
}


@keyframes checkboxCheck {
  from {
    box-shadow: 0 0 0 0.05rem rgba($primaryColor, 0.5);
  }
  to {
    box-shadow: 0 0 0 0.5rem rgba($primaryColor, 0.0);
  }
}
