@import './variables';

:focus {
  outline: $primaryColor solid 1px;
  outline-offset: 0;
}

html {
  font-size: 62.5%;
  font-family: 'Work Sans', sans-serif;
  padding: 1rem;
}

body {
  font-size: 1.6em;
  overflow-x: hidden;
  * {
    font-family: 'Work Sans', sans-serif;
    font-size: 1.4rem;
    box-sizing: border-box;
  }
}

a {
  color: inherit;
}

::placeholder {
  color: $grey;
}
